 
[homing_override]
axes: z
set_position_z: 0
gcode:
  	 {% set homed_axes=printer.toolhead.homed_axes %}

    ## store current of printer.cfg
    {% set y_max   = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set z_run   = printer.configfile.config["tmc2209 stepper_z"]["run_current"] %}
    {% set z1_run  = printer.configfile.config["tmc2209 stepper_z1"]["run_current"] %}
    {% set z2_run  = printer.configfile.config["tmc2209 stepper_z2"]["run_current"] %}
    {% set z3_run  = printer.configfile.config["tmc2209 stepper_z3"]["run_current"] %}
    {% set z_hold  = printer.configfile.config["tmc2209 stepper_z"]["hold_current"] %}
    {% set z1_hold = printer.configfile.config["tmc2209 stepper_z1"]["hold_current"] %}
    {% set z2_hold = printer.configfile.config["tmc2209 stepper_z2"]["hold_current"] %}
    {% set z3_hold = printer.configfile.config["tmc2209 stepper_z3"]["hold_current"] %}

    SET_TMC_CURRENT STEPPER=stepper_z CURRENT=.3 HOLD=.3
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT=.3 HOLD=.3
    SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT=.3 HOLD=.3
    SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT=.3 HOLD=.3
    M204 S4000
    G90
    
    ##################################
    ##    Need:  X   Y   Z
    ##home: X    x
    ##      Y    x   x   
    ##      Z    x   x   x
  	 {% set force_home_X=false %}
  	 {% set force_home_Y=false %}
  	 {% set force_home_Z=false %}
  	 {% set home_X=false %}
  	 {% set home_Y=false %}
  	 {% set home_Z=false %}
    
    #PRINTF MSG="{ params }"
    {% if 'X' not in params and 'Y' not in params and 'Z' not in params %}
    	 {% set force_home_X=true %}
    	 {% set force_home_Y=true %}
    	 {% set force_home_Z=true %}
    {% endif %}
    
    {% if "x" not in homed_axes  or "y" not in homed_axes or "z" not in homed_axes %}
      SET_GCODE_VARIABLE MACRO=CONFIG VARIABLE=gantry_level VALUE=False
    {% endif %}
      
    {% if 'X' in params or "x" not in printer.toolhead.homed_axes or home_x %}
      {% set force_home_X=true %}
    {% endif %}
    
    {% if 'Y' in params or 'y' not in printer.toolhead.homed_axes %}
      {% set home_X=true %}
      {% set force_home_Y=true %}
    {% endif %}
    
    {% if 'Z' in params or 'z' not in printer.toolhead.homed_axes %}
      {% set home_X=true %}
      {% set home_Y=true %}
      {% set force_home_Z=true %}
    {% endif %}
    
    # PRINTF MSG="{ homed_axes } / { force_home_X } { force_home_Y } { force_home_Z } / { "x" not in homed_axes and home_X } { "y" not in homed_axes and home_X } { "z" not in homed_axes and home_X } / { home_X } { home_Y } { home_Z } "
      
    {% if force_home_X or ("x" not in homed_axes and home_X ) %}
      G0 Z10 F600
      G28 X
    	 M400
    {% endif %}
    
    {% if force_home_Y or ("y" not in homed_axes and home_Y ) %}
      G28 Y
      G1 Y{y_max - 3} F3000
      M400
    {% endif %}
      
    {% if force_home_Z or ("z" not in homed_axes and home_Z ) %}
      goto_ZProbe
      G28 Z
      G0 Z10 F6000
    {% endif %}
    
    SET_TMC_CURRENT STEPPER=stepper_z  CURRENT={z_run}  HOLDCURRENT={z_hold}
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={z1_run} HOLDCURRENT={z1_hold}
    SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT={z2_run} HOLDCURRENT={z2_hold}
    SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT={z3_run} HOLDCURRENT={z3_hold}
     