
#####################################################################
# 	Probe
#####################################################################

[probe]
##	Inductive Probe
##	This probe is not used for Z height, only Quad Gantry Leveling
##	Z_MAX on mcu_z
##	If your probe is NO instead of NC, add change pin to !z:P0.10
pin: ^z:P0.10
x_offset: 0
y_offset: 25.0
z_offset: 14.6
speed: 10 # 15
lift_speed: 10 #50.0
samples: 1
samples_result: median
sample_retract_dist: 5 # 0.2
samples_tolerance: 0.0025
samples_tolerance_retries: 10


#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

##	XY Location of the Z Endstop Switch
##	Update X0 and Y0 to your values (such as X157, Y305) after going through
##	Z Endstop Pin Location Definition step.
[gcode_macro goto_ZProbe]
default_parameter_SPEED: 10000
gcode:
  G0 X230 Y349 Z10 F{SPEED}
 
[quad_gantry_level]
gantry_corners:
	-60,-10
	410,420
points:
	50,25
	50,275
	300,275
	300,25
speed: 300
horizontal_move_z: 25
retries: 5
retry_tolerance: 0.0075
max_adjust: 20

[bed_mesh]
mesh_min: 15,26
mesh_max: 340,330
speed: 300
horizontal_move_z: 16
probe_count: 9,9 #5,5 # 8,8
algorithm: bicubic
relative_reference_index: 41 #13 #33
#fade_start: 1
#   Default is 1.0.
#fade_end: 10
#   Default is 0.0, which disables fade.
#fade_target: 0
#   The z position in which fade should converge.
move_check_distance: 3
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
split_delta_z: 0.0125
#   The amount of Z difference (in mm) along a move that will
#   trigger a split. Default is .025.
mesh_pps: 4,4
#   A comma separated pair of integers (X,Y) defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed
#   point. The user may enter a single value which will be applied
#   to both axes.  Default is 2,2.
bicubic_tension: 0.3
#   When using the bicubic algorithm the tension parameter above
#   may be applied to change the amount of slope interpolated.
#   Larger numbers will increase the amount of slope, which
#   results in more curvature in the mesh. Default is .2.

