[stepper_z]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
# Belted-Z mod
rotation_distance: 50			# 20T pulley driving bed, 2mm belt pitch
gear_ratio: 80:16				# 16T pulley on stepper, 80T gear
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
endstop_pin: PG6
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#CURRENT CONFIGURATION:
position_endstop: 0.769
position_max: 150
position_min: -5
homing_speed: 8.0
second_homing_speed: 3.0
homing_retract_dist: 3.0

[tmc2209 stepper_z]
uart_pin: PE4
run_current: 0.700
hold_current: 0.500
sense_resistor: 0.110
stealthchop_threshold: 999999